<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378106076078-ug7muaerf68l5n1ms0dmgg4au1tjscme.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378106076078-ug7muaerf68l5n1ms0dmgg4au1tjscme</string>
	<key>API_KEY</key>
	<string>AIzaSyCp-G08B8jsLnlYpSfUWtA-3nVe7UyUvtA</string>
	<key>GCM_SENDER_ID</key>
	<string>378106076078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jason.MaternalFoster</string>
	<key>PROJECT_ID</key>
	<string>maternalfostermobile</string>
	<key>STORAGE_BUCKET</key>
	<string>maternalfostermobile.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378106076078:ios:34e013752c02a997b1063f</string>
</dict>
</plist>